* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Cards */
.card {
  background: #020617;
  margin: 40px auto;
  padding: 30px;
  width: 80%;
  border-radius: 12px;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #1e293b;
  border-radius: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}
